.navbar-container nav{    
    display: flex;    
    align-items: center;
    justify-content: space-between;
}
.list-container{
    display: flex;    
    list-style: none;    
    padding:0px 5px;
}
.nav-link{
    display: block;    
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.25s ease-in-out;
    border-radius: 5px;
}
.nav-link:hover{
    cursor: pointer;    
}
.log-status{
    padding:0px 20px; 
    cursor: pointer;    
}
.log-status:hover{
    color: olive;
}
.text-status{
    text-align: center;
    padding: 10px 5px;
    font-size: 16px;    
}